# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
.env
# CSV from api and light compute
# *Table.csv # needeed for heroku worker until proper SQL handling
api_pipeline/workdata/raw/*.csv
api_pipeline/workdata/inc/*.csv
trash/
lastupdate.txt
